@import "../variables.scss";

.ticket-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ticket {
  box-sizing: border-box;
  padding: 22px 20px 6px 20px;
  margin-bottom: 24px;
  background-color: $white;
  font-family: "Open Sans", sans-serif;
  border-radius: 6px;
}

.info {
  width: 140px;
  font-size: 12px;
  font-weight: 600;
}

.infoline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.price {
  color: $highlight;
  font-size: 24px;
  font-weight: 600;
}

.top-text {
  color: $secondary-text;
  margin-bottom: 6px;
  letter-spacing: 0.5px;
}

.bottom-text {
  font-size: 14px;
}

