body {
  background-color: #f7f7f7;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movies-container::after {
  content: '';
  width: 450px;
  margin: 20px;
}

.content {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
  min-width: 420px;
  max-width: 1010px;
  min-height: 100vh;
}

.title {
  display: block;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.release-date {
  display: block;
  margin-bottom: 8px;
  color: #827e7e;
  font-size: 12px;
}

.rating {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.red {
  border-color: #e90000;
}

.orange {
  border-color: #e97e00;
}

.yellow {
  border-color: #e9d100;
}

.green {
  border-color: #66e900;
}

.movie-header {
  display: flex;
  justify-content: space-between;
}

.spinner {
  margin: 44% 49%;
}

.ant-tag {
  margin-bottom: 4px;
}

.item-movie {
  display: grid;
  grid-gap: 6px;
  margin: 20px;
  grid-template-columns: 183px auto;
  grid-template-rows: auto 1fr;
  width: 450px;
  height: 280px;
  max-height: 280px;
  box-sizing: border-box;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

.poster-container {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.movie-top {
  padding-top: 6px;
  padding-right: 8px;
  grid-column: 2;
  grid-row: 1;
}

.genre {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 6px;
}

.movie-bot {
  padding-bottom: 6px;
  padding-right: 8px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt {
  margin: 0;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.poster {
  height: 281px;
  width: 183px;
  object-fit: cover;
}

.rate-container {
  display: flex;
  justify-content: flex-end;
}

.input-container {
  margin: 0 auto;
  margin-bottom: 6px;
  max-width: 950px;
}

.ant-pagination {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 999px) {
  .item-movie {
    padding: 8px;
    width: 388px;
    height: 245px;
    grid-template-columns: 60px auto;
  }

  .movies-container::after {
    content: '';
    width: 388px;
  }

  .poster-container {
    grid-column: 1 / span 1;
    grid-row: 1;
  }

  .movie-top {
    grid-column: 2;
    grid-row: 1 / span 1;
  }

  .movie-bot {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .poster {
    height: 90px;
    width: 60px;
  }

  .input-container {
    box-sizing: border-box;
    padding: 0 20px;
  }
}


.ant-spin {
  position: absolute 20px 20px;
}